PORT=8000
MONGODB_URL=mongodb+srv://suryapratapsingh:Singh123@cluster0.23qixiw.mongodb.net
ACCESS_TOKEN_SECRET=tgjgdkfrkgkrgkrgkr
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=123
REFRESH_TOKEN_EXPIRY=10d